.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;

}

.gemini {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    color: #5f6368;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: normal;
    border: none;
    outline: none;
}

.Advanced_gemini {
    margin-right: 20px;

}

.anchor {
    display: flex;
    align-items: center;
}

.main .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 30px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    margin: auto;

}

.main .greet {
    font-size: 55px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;

}

.main .card {
    height: 200px;
    padding: 20px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #DDE3EA;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px -3px 3px rgba(176, 177, 181, 0.04),
        0px -12px 13px rgba(176, 177, 181, 0.09),
        0px -26px 28px rgba(176, 177, 181, 0.13),
        0px -46px 50px rgba(176, 177, 181, 0.17);
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding: 8px;
    font-weight: 300;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result {
    padding: 0px 5%;
    overflow-y: scroll;
    max-height: 70vh;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-title img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data img {
    width: 40px;
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 20px;
    height: 20px;
    animation: loader 3s infinite linear;
}

.btn {
    margin-right: 20px;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }

    100% {
        background-position: 800px 0px;
    }
}

@media (max-width: 600px) {
    .main-bottom input {
        flex: none;
        width: 200px;
    }

    .main-bottom img {
        width: 20px;
    }

    .search-box {
        padding: 5px 10px;
    }

    .search-box div {
        gap: 15px;
    }
}